{% extends 'base.html.twig' %}

{% block body %}
	<h1>Avatars</h1>
	<div>
		{% for avatar in avatars %}
			<ul>
				<li>id: {{ avatar.id }}</li>
				<li>firstname: {{ avatar.firstname }}</li>
				<li>lastname: {{ avatar.lastname }}</li>
				<li>about: {{ avatar.aboutMe }}</li>
			</ul>
		{% endfor %}
	</div>

	{% set user = app.security.getToken().getUser() %}
	<h2>User: {{ user.username }}</h2>
	<div>
		<ul>
			<li>Funds: {{ user.funds }}</li>
		</ul>
	</div>
{% endblock %}
